#=================== Software Path =======================#
Java_Path=./jdk/bin/java
Bowtie2_Path=bowtie2
Samtools_Path=samtools

#=================== LinSNPGT Config =======================#
* [Project]
Project_Name=Rice.TEST

* [Species and Dataset]
RefDataSet_File=./Reference_Genome/Rice_378_Inbred.tar.gz

* [Running LinSNPGT Thread]
Thread_Count=10

* [Samples_list]
> ===========================================
> |sample | Read1          | Read2          |
> -------------------------------------------
  | Line1 | TEST1_r1.fastq | TEST1_r2.fastq |
  | Line2 | TEST2_r1.fastq | TEST2_r2.fastq |

  
