#=================== Software Path =======================#
Java_Path=./jdk/bin/java
Bowtie2_Path=bowtie2
Samtools_Path=samtools

#=================== LinSNPGT Config =======================#
* [Project]
Project_Name=Rice

* [Species and Dataset]
RefDataSet_File=Rice_378_Inbred.tar.gz

* [Running LinSNPGT Thread]
Thread_Count=10

* [Samples_list]
> ===========================================
> |sample | Read1          | Read2          |
> -------------------------------------------
  | Line1 | test1_1.fastq | test1_2.fastq |
  | Line2 | test2_1.fastq | test2_2.fastq |

  
